/target/
!.mvn/wrapper/maven-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea/
.idea
*.iws
*.iml
*.ipr
.metadata
.classpath
.project
.module_prj
.settings/
.svn/
*.iml
*.log
bin/
out/
target/
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/